<app-header></app-header>

<div class="container">
    <h2>My Angular 19 project</h2>
    <h3>{{ name }}</h3>
    <h3>{{ 'hello'.toUpperCase() }}</h3>
</div>
<div class="container">
    <app-login></app-login>
</div>
<div class="container">
    <app-profile></app-profile>
</div>
<div class="container">
    <app-get-set-input-value></app-get-set-input-value>
</div>
<div class="container">
    <app-if-else-conditions></app-if-else-conditions>
</div>
<div class="container">
    <app-switch-case></app-switch-case>
</div>
<div class="container">
    <app-for-loop></app-for-loop>
</div>
<div class="container">
    <app-signals></app-signals>
</div>
<div class="container">
    <app-datatype-signals></app-datatype-signals>
</div>
<div class="container">
    <app-computed-signals></app-computed-signals>
</div>
<div class="container">
    <app-effects></app-effects>
</div>
<div class="container">
    <app-fl-contextual-variables></app-fl-contextual-variables>
</div>
<div class="container">
    <app-twoway-binding></app-twoway-binding>
</div>
<div class="container">
    <h2>Demonstrating Signal-Based two way binding =>  Counter: {{ counterValue }}</h2>
    <app-sb-twoway-binding [(count)]="counterValue"></app-sb-twoway-binding>
</div>
<div class="container">
    <app-todo-list></app-todo-list>
</div>
<div class="container">
    <app-dynamic-styling></app-dynamic-styling>
</div>
<div class="container">
    <app-directives-demo></app-directives-demo>
</div>
<div class="container">
    <app-routing-demo></app-routing-demo>
</div>
<div class="container">
    <app-reactive-forms></app-reactive-forms>
</div>
<div class="container">
    <app-template-driven-form></app-template-driven-form>
</div>
<div class="container">
    <app-pd-parent-to-child username="Arjun Naik"></app-pd-parent-to-child>
</div>
<div class="container">
    <app-pd-child-to-parent (getUsers)="handleUsers($event)"></app-pd-child-to-parent>
</div>
<div class="container">
    <app-pipes-demo></app-pipes-demo>
</div>
<div class="container">
    <app-custom-pipes></app-custom-pipes>
</div>
<div class="container">
    <app-lifecycle-hooks></app-lifecycle-hooks>
</div>
<div class="container">
    <app-service-demo></app-service-demo>
</div>
<div class="container">
    <app-signals-demo></app-signals-demo>
</div>